*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
}

td{
    padding: 40px;
    border: 2px solid black;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
}